.display{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 100%;
    background-color: #c24d2c;
    color: azure;
    z-index: 2;
}

.main{
    position: fixed;
    width: calc(50%);
    height: calc(93vh - 20px);
    display: flex;
    flex-direction: column;
    /* z-index: 1; */
    margin: 10px;
    overflow-y: scroll;
}

.topbar{
    text-align: center;
    margin-bottom: 10px;
}

.main::-webkit-scrollbar{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: azure;
    /* height: calc(18vh - 10px); */
    /* margin-bottom: 10px; */
    padding: 10px;
    border-radius: 10px;
}
.form > textarea{
    outline: none;
    font-family: sans-serif;
    font-size: 16px;
    padding: 2px;
    margin-bottom: 5px;
    background-color:rgb(221, 226, 231);
    border: none;
}
.form > input{
    outline: none;
    padding: 2px;
    font-size: 16px;
    margin-bottom: 5px;
}
.btn{
    text-align: center;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(0, 193, 129);
    border: none;
}

.Form1{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: aqua;
}

.toggle-button {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 4; 
    /* background-color: aqua; */
    padding: 10px;
  }

@media(max-width: 850px){
    .main{
        width: 70%;
    }
}

@media(max-width: 500px){
    .main{
        width: calc(100% - 20px);
    }
}
